<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoruichi Pizzeria</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Yoruichi Pizzeria</h1>
        <img src="/static/yoruichi1.jpg" width="250" height="350" alt="yoruichi">
    </header>
    <main>
        <div class="container">
            <a href="/menu" class="menu-link">МЕНЮ</a>
        </div>
    </main>
</body>
</html>
