<table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Menu</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1</th>
          <td>Pizza1</td>
          <td>Tomato, cheese</td>
          <td>120 UAH</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pizza Yoruichi</td>
          <td>Pepperoni, cheese</td>
          <td>200 UAH</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Pizza de IT</td>
          <td>Pineapple, meat</td>
          <td>160 UAH</td>
        </tr>
      </tbody>
    </table>
</body>
</html>